<div class="user_info">
	<img class="user_img" src="assets/images/user_img.png" />
	<h3>Jessica</h3>
	<h5>Jessica@gmail.com</h5>
</div>

<!--left panel-->
<p-accordion [multiple]="true">
  <p-scrollPanel>
    <p-accordionTab header="Family Office">
      <p>21 Day call deposit 1</p>
      <p-accordionTab header="Cash AFI">
        <p>21 Day call deposit 1</p>
        <p-accordionTab header="USD Cash">
          <p>21 Day call deposit 1</p>
          <p-accordionTab header="Equites">
            <p>21 Day call deposit 1</p>
          </p-accordionTab>
        </p-accordionTab>
      </p-accordionTab>
    </p-accordionTab>
    <p-accordionTab header="Family Office_O1">
      <p>21 Day call deposit 1</p>
    </p-accordionTab>
    <p-accordionTab header="Foundation Axis">
      <p>21 Day call deposit 1</p>
    </p-accordionTab>
    <p-accordionTab header="Foundation Axis">
      <p>21 Day call deposit 1</p>
    </p-accordionTab>
  </p-scrollPanel>
</p-accordion>


